@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root{
    --shiki-light-bg: #f8fafc;
    --shiki-dark-bg: var(--dark-Theme);
    --note-light: #1E66F5;
    --note-dark: #79AFFF;
}
body{
    font-family: "Inter", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body, body[data-theme='light'] {
    --shiki-bg: var(--shiki-light-bg);
    --note: var(--note-light);
}

body[data-theme='dark']{
    --shiki-bg: var(--shiki-dark-bg);
    --note: var(--note-dark);
}
h1{
    font-weight: bold;
    font-size: 1.5rem;
}
h2{
    font-weight: bold;
    font-size: 1.2rem;
}
.note{
    color: var(--note);
    text-decoration: underline;
}
.div{
    border: 1px solid green;
}
.div2{
    border: 1px solid red;
}
