@import 'tailwindcss';
@import '@sierra-95/svelte-scaffold/global.css';
@plugin '@tailwindcss/typography';

:root{
    --shiki-light-bg: #f8fafc;
    --shiki-dark-bg: var(--dark-Theme);
    --note-light: #1E66F5;
    --note-dark: #79AFFF;
}
body{
    font-family: "Inter", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body, body[data-theme='light'] {
    --shiki-bg: var(--shiki-light-bg);
    --note: var(--note-light);
}

body[data-theme='dark']{
    --shiki-bg: var(--shiki-dark-bg);
    --note: var(--note-dark);
}
h1:not(#scaffold-overview h1){
    font-weight: bold;
    font-size: 1.5rem;
}
h2:not(#scaffold-overview h2):not(#sierra-header h2){
    font-weight: bold;
    font-size: 1.2rem;
}
th, td{
    color: var(--text);
    border: 1px solid var(--border);
}
/*Dont use from h3*/
.note{
    color: var(--note);
    text-decoration: underline;
}
.div{
    border: 1px solid green;
}
.div2{
    border: 1px solid red;
}
